
border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: argumentsborder-radius()
.blog-wrapper   {
    background:#eee;
  
      
}
.blog-wrapper .header{
    background:green
}


.cards{
  display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: minmax(100px, 20em)  minmax(100px, 20em)  minmax(100px, 20em) ;
    grid-gap:1em
}
.card{
    background:red;
    border:2px solid #fff
    border-radius(5px)
}