.contact-container{
    padding: 3em;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    animation:slideDown .3s linear;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
}

.contact-container h1{
    font-family:"Raleway";
    color:#888;
}
.contact-list .list-unstyled{
    list-style: none;
    max-width:68%
}
.contact-list .list-unstyled li{
    margin:1em;
    font-family:"Raleway";
        font-size: 1.4em;
}
.contact-list .list-unstyled li a{
    color:#c00000
}
@media(max-width:768px){
.contact-container{
padding:.5em
}
.contact-list .list-unstyled li{
     font-size: 3vh; 
}
}
@media (min-width:1000px){
    .contact-container{
      display: flex;
    padding: 1em;
    position: relative;
    overflow: hidden;
    width: 100%;
    position: fixed;
    flex-direction: column;
    }
}