.contact-container{
    padding:3em
}
.contact-container h1{
    font-family:"Raleway";
    color:#888;
}
.contact-list .list-unstyled{
    list-style: none;
}
.contact-list .list-unstyled li{
    margin:1em;
    font-family:"Raleway";
        font-size: 1.4em;
}
.contact-list .list-unstyled li a{
    color:#c00000
}
@media(max-width:768px){
.contact-container{
padding:.5em
}
.contact-list .list-unstyled li{
     font-size: 3vh; 
}
}