.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
    margin:4em;
    position: absolute;
    height: 100%;
}
h1{
    font-family:"Raleway";
    color:"#0c0000";
    font-size:3em
}
h3{
      font-family:"Raleway";
    color:"#0c0000";
    font-size:2em  
}
p{
       font-family:"open Sans";
    color:"#0c0000";
    font-size:2em   
}
.unstyled-list{
    list-style-type:none !important
}
inline-list{
    display:inline-block !important
}
.social-media{}
.socail-media-links .unstyled-list{
    display:flex;
        display: flex;
  
}
.socail-media-links .icon{
    width:50px;
    height:50px;
    margin:1em
}