.wrapper{
    display: grid;
    grid-template-columns: 5fr 6fr 1fr;
    padding: 1em;
    position: absolute;
    height: 100%;
    overflow:hidden
}
.homeNight{
background:#000000
}
.titleNight{
color:#fff !important
}
.titleDay{
color:#141010 !important
}
h1{
    font-family:"Raleway";
    font-size:3em
}
h3{
      font-family:"Raleway";
    color:"#0c0000";
    font-size:2em  
}
p{
    font-family:"open Sans";
    color:"#0c0000";
    font-size:eem   
}
.unstyled-list{
    list-style-type:none !important
}
inline-list{
    display:inline-block !important
}
.social-media{}
.socail-media-links .unstyled-list{
    display:flex;
  
}
.socail-media-links .icon{
    width:50px;
    height:50px;
    margin:1em;
    cursor:pointer;
}
.picture{
    overflow: hidden;
    display: flex;
    /* margin-top: 5em; */
    justify-content: flex-end;
}
.picture img{

}
.picture .cirlceDay{
   background: #eee;
    display: block;
 width:30em;
        height:30em;
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    bottom: 17em;
    left: 33em;
    animation:bounce linear infinite 10s;
}
@media(max-width:768px){
.wrapper{
    position:relative;
        padding: 1em;
}
.picture{
    display:none
}
.picture img{
    height: 5em;
    width: 5em;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    flex: 1;
    display: flex;
    border-radius: 100%;
    background: #f5f5dc;
    align-self: flex-start;
    right: 2%;
    top: 28%;
}

   
}
@keyframes bounce{

    
    0%{
           transform: rotate(60deg);
        transform:translateX(-150px);
             animation-timing-function: cubic-bezier(.17,.67,.83,.67);
   
    }
       10%{
      transform: rotate(120deg);
        transform:translateX(-250px);
             animation-timing-function: cubic-bezier(.17,.67,.83,.67);
       
    }
    20%{
         transform: rotate(180deg);
        transform:translateX(-350px);
             animation-timing-function: cubic-bezier(.17,.67,.83,.67);
  
    }
        40%{
        transform: rotate(220deg);
        transform:translateX(-600px);
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
             animation-timing-function: cubic-bezier(.17,.67,.83,.67);
  
    }
    50%{
       transform: rotate(300deg);
        transform:translateX(0);
             animation-timing-function: cubic-bezier(.17,.67,.83,.67);
       
 
    }
      70%{
       transform: rotate(220deg);
        transform:translateX(-300);
             animation-timing-function: cubic-bezier(.17,.67,.83,.67);
 
    }
     80%{
       transform: rotate(1800deg);
        transform:translateX(-200);
             animation-timing-function: cubic-bezier(.17,.67,.83,.67);
 
    }
     90%{
       transform: rotate(120deg);
        transform:translateX(-100);
             animation-timing-function: cubic-bezier(.17,.67,.83,.67);
 
    }
       100%{
       transform: rotate(60deg);
        transform:translateX(0);
      animation-timing-function: cubic-bezier(.17,.67,.83,.67);
    }

}

.spliter{
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    object-fit: cover;
    background-size: cover;
    background-image: url(./../static/images/background2.jpg);
    width: 60%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 2;

}
.picture .circleNight{
background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    display: block;
       animation:bounce linear infinite 10s;
 width:30em;
        height:30em;
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    bottom: 17em;
    left: 33em;
}
.spliter img{
    width:100px;
    border-radius:100%
}
.spliter-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1em;
}
.spliter h1{
    color:#f4f4f4
}
.desciption_wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}