.iphone_wrapper{
    background-image:url("./../static/images/iphone4.png");
    background-repeat:no-repeat;
    text-align:center;
    position:relative;
    width: 100%;
    background-position: center;
    overflow:hidden;
      display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.iphone_wrapper .preview{
  position: relative;
    z-index: 1;
    /* left: 82px; */
    top: 70px;
    width: 17.9999999em;
    height: 32em;
    background: #fff;

}
.iphone_wrapper .preview .ea {
    padding-right: -18px !important;
}
.iphone_wrapper object .j {
    display: block;
    overflow: hidden !important;
}
.iphone_wrapper .img_preview :not('.picture img'){
height: auto !important;
    width: 100%  !important;
}
.preview .img_preview{

}