  .navigator {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-auto-flow: column;
      max-width: 100%;
      height:100%;
        width: 20%;
    position: fixed;
  }
  .toggle{
    display:block !important;
     animation:navmobile .3s linear;
  }
   .close-icon{
     display:none;
   }
  @media(max-width:786px){
    .navigator{
   grid-column-start: 1;
    grid-column-end: -1;
      width: 100%;
      animation:navmobile .3s linear;
      z-index:2;     
      display:none
    }
    .close-icon{
           display:block;
     position: absolute;
    right: 2%;
    bottom:0;
    margin: 5%;
    transition:.3s linear;
     background: #000000;
    padding: 14px;
    border-radius: 100%;
    }
        .close-icon:focus{
          transform:scale(1,2)
        }
          
    .menu{
     list-style-type: none;
    width: 100%;
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
  }
  @keyframes navmobile{
    0%{
       transform: translateX(-600px);
         animation-timing-function:cubic-bezier(.17,.67,.83,.67);
    }
    100%{
         animation-timing-function:cubic-bezier(.17,.77,.83,.77);
       transform: translateX(0px);
    }
  }

  .menu{
     padding: 2em;
    list-style-type: none;
    /* width: 100%; */
    margin: 0;
  }
  .menu li{
 
    padding: 1em;
    text-align: center;
        margin-bottom: 1em;
        transition:.1s linear;
            border-radius: 4px;
           
  }
  .menu li:hover{
    background:#c00000;
  }
    .menu li:hover a{
    color:#fff;
    margin-left:1em
  }
  .menu li a{
      color: #c00000;
      font-family:"Raleway";
          text-decoration: none;
    font-weight: bold;
        justify-content: center;
    display: flex;
    align-items: center;
    transition:.3s linear
  }

@media(max-width:768px){
     .menu{
     list-style-type: none;
    width: 100%;
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
    }
    .menu li{
          padding: 1em;
    text-align: center;
    margin-bottom: 1.5em;
    transition: 0.1s linear;
    border-radius: 4px;
    border-bottom: 1px solid #fff;
    width: 100%;
    align-self: center;
    }
    .menu li a{
      font-weight: bold;
    font-size: 1.6em;
    }
}
  .form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #2d095c; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }


.navnightmode{
  background-color:#000000;
  transition:.3s linear;

  
}
.navnightmode .menu li a{
  color:#f4f4f4 !important;


}
.navdaymode{
  background:#f8f9fc;
}
@keyframes slow{
  0%{
          background-image: radial-gradient(at top center, #141010 10%, #fff 10%), linear-gradient(to top, rgba(255,255,255,0.1) 82%, rgba(143,152,157,0.6) 100%);
          background-blend-mode: normal, multiply;
          animation-timing-function:cubic-bezier(.17,.67,.83,.67);
  }
  25%{
      background-image: radial-gradient(at top center, #141010 7%, #fff 20%), linear-gradient(to top, rgba(255,255,255,0.1) 82%, rgba(143,152,157,0.6) 100%);
      background-blend-mode: normal, multiply;
      animation-timing-function:cubic-bezier(.17,.67,.83,.67);
  }
  50%{
      background-image: radial-gradient(at top center, #141010 40%, #fff 10%), linear-gradient(to top, rgba(255,255,255,0.1) 82%, rgba(143,152,157,0.6) 100%);
      background-blend-mode: normal, multiply;
      animation-timing-function:cubic-bezier(.17,.67,.83,.67);
  }
  90%{
    background-image: radial-gradient(at top center, #141010 90%, #fff 10%), linear-gradient(to top, rgba(255,255,255,0.1) 82%, rgba(143,152,157,0.6) 100%);
    background-blend-mode: normal, multiply;
    animation-timing-function:cubic-bezier(.17,.67,.83,.67);
  }
  100%{
      background-image: radial-gradient(at top center, #141010 100%, #fff 10%), linear-gradient(to top, rgba(255,255,255,0.1) 82%, rgba(143,152,157,0.6) 100%);
      background-blend-mode: normal, multiply;
      animation-timing-function:cubic-bezier(.17,.67,.83,.67);
  }
}