.container {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    min-height: 100%;
 
  }

  .main {
    background: #fff;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .footer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background: green;
  }
  body{
    margin:0
  }