.container {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    min-height: 100%;
 
  }

.nighbackground{
    background-color:#000000
}
.night-text{
    color:#fff !important
}
  .main {
    background: #fff;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .footer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background: green;
  }
  body{
    margin:0
  }
  @media (max-width:758px){

        .main {
    background: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  
    }
  
  }
// on larg screens
@media (min-width:1000px){
  .container{
    background:red;
    grid-template-columns: 1fr 5fr;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    min-height: 100%;
    }
    .main {
    background: #fff;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  
    }
    .wrapper{
      display: grid;
    grid-template-columns: 5fr 6fr 1fr;
    grid-column-start: 1;
    padding: 1em;
    position: absolute;
    height: 100%;
    overflow: hidden;
    }
}