.spliter{
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    object-fit: cover;
    background-size: cover;
    background-image: url(./../static/images/background2.jpg);
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 2;
    transition:.3s linear;
    overflow:hidden

}
.spliter img{
    width:100px;
    border-radius:100%
}
.spliter-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1em;
}
.spliter h1{
    color:#f4f4f4
}