.mobile-btn-wrapper{
    align-items: center;
    background: #f00;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    position: fixed;
    justify-items: center;
    bottom: 0;
    display:none;
    outline:none

}
@media(max-width:768px){
    .mobile-btn-wrapper{
         z-index: 3;
    align-items: center;
    /* background: #f00; */
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-items: center;
      outline:none
    }
      .my-enter{
    background:green
  }
  .my-active-enter{
    background:yellow
  }
  .my-active-exit{
    background:blue
  }
}

button{
    /* width: 16%; */
    align-self: center;
    padding: 6px 12px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0;
    left: 37%;
    /* display: flex; */
    bottom: 0;
    position: fixed;
    outline:none
   
}
@media(max-width:768px){
 button{
    /* width: 16%; */
    align-self: center;
    padding: 6px 12px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0;

    /* display: flex; */
    position: fixed;
    bottom: 0em
 }   
}