
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
@import '_footer.styl'
@import '_page.styl'
@import '_nav.styl'
@import '_home.styl'
@import '_splitter.styl'
@import '_scale.styl'
@import '_blog.styl'
@import 'mobile-nav.styl'
@import '_placeholder.styl'
@import '_contact.styl'
@import '_iphone.styl'
@import '_loading.styl'
.nighbackground{
    background-color:#000000
}
.night-text{
    color:#fff !important
}
*{
    font-family:"Open Sans"
}
html{
    font-family:"Open Sans"
}
body{
    margin:0;
    padding:0
}